 

/* Big Tablets to 1200px;*/
@media only screen and (max-width:1200px)
{
    .hero-text-box {
        position: absolute;
        width: 100%;
        top:15%;
       
       
    }

    .hero-text-box hr{

        border-top: 3px solid #00BFB1;
        width: 64%;
        margin:30px 0;
        
    }
        .row{
            padding: 0 2%;
        }
    
        .logo{
            height: 25px;
            width:auto;
            float: left; 
            margin-left: 2%;
            margin-top: 20px;
        }

        section h3{
            font-weight: 800;
            font-size: 100%;
        }
        .section-intro h2,
        .section-intro p{
             margin-left:6%;
        }
        section hr,
        .section-sponsor h3,.footer row
        
        {
            margin-top:4%;
        }
        .section-graduate .row,.section-graduate-2 .row,
        .section-university h3,.section-university-2 h3{
            margin-top:5%;
        }
       .section-university h3{
           font-weight: 500;
          
       }
       

.section-graduate-2 img,
.section-university-2 img{
    width:80%;
}


    
}




/* small tablet to big tablet from 767px - 1023px*/
@media only screen and (max-width:1023px)
{
    body{ font-size: 18px;}
    section{padding:60px 0; }
    .long-copy{
    width:80%;
    margin-left: 15%;
}
    .steps-box{margin-top: 10px;}
  
  .app-screen{width: 70%;}
   

    .span{
        position: relative;
        left:310px;
        top:-50px;
        background-color:#FDBC2D;
        color: #000000;
        font-size: 120%;
        font-weight: 800;
        width:75px;
        height:75px;
        text-align: center;
        padding:15px;
    }
}


/* small phones to small tablet from 481 - 767px*/

@media only screen and (max-width:767px)
{
    
    body{font-size: 16px;}
 
    .row, .hero-text-box{ padding: 0 4%;}


       /* section{padding: 30px 0;} */
    /* .col{width: 100%; margin: 0 0 1% 0} */
    /* .main-nav{display: none;}
    .mobile-nav-icon{display: inline-block;}
    
    .mobile-nav-icon i{
         color: #ffffff;
    }
    .main-nav{
        float: left;
        margin-top:25px;
        margin-left: 25px;
    }
    .main-nav li{
        display: block;
    }
    .main-nav li a:link
    .main-nav li a:visited{
        display: block;
        border: 0;
        padding: 5px 0;
        font-size: 100%;
    }
    .sticky.main-nav li a:link,
    .sticky.main-nav li a:visited{
    padding: 10px 0;
     
}.main-nav li a:hover, */

/* .main-nav li a:active{
    border-bottom: 0;
} */
    
    
      /* .long-copy{width:100%;margin-left: 0;} */
     h1{ font-size: 100%;}
       
     .hero-text-box h2{
        font-size:110%;

     }
     .hero-text-box .btn-ghost{
        display: inline-block;
        padding: 10px 26px;
        background-color: #ffffff;
        font-weight: 500;
        font-size: 40%;
        text-decoration: none;
        border-radius: 3px;
        transition: background-color 0.2s, border 0.2s, color 0.2s,;
     }
     .hero-text-box p{
         margin-top: 1%;
         font-size:90%;
     }
     .hero-text-one p{
         margin-bottom: 20px;
     }

     .header{background-image: url("https://res.cloudinary.com/dhtqkszzc/image/upload/v1537234315/Background_v4trvh.png");
     background-size: cover; 
     background-position: center;
     width:105%;
     height: 100vh;
     }
     
     
.section-intro hr{
    
    border-top: 1px solid #ffffff;
    width: 5%;
    margin-left: 7%;
    margin-bottom: 0%;
}
.section-intro .btn-ghost,

{
    color: black;
    margin-top: 1px;
    background-color: #ffffff;
}

.section-intro h3

{
    font-size: 100%;
    margin-left: 7%;
 
}


.section-intro h2{
    font-weight: 400;
     margin-bottom: 1px;
    margin-top: 1px;
}


     .section .graph-1{
         width:100%;
     }
     
.col{
    width:100%;
    margin: 0 0 1% 0;
    display: inline-block;
}
.section-students hr{
    border-top: 5px solid #0D2623;
    width: 10%;
    margin-bottom: 1%;
}

.section-students h3{
    font-weight: 700;
    font-size: 100%;
    margin-bottom: 3px;
}
    



  
}



/* small phones from 0 - 480px*/

@media only screen and (max-width:480px)
{
    
    .section{
        padding: 25px 0;
    }
    .contact-form{
        width: 100%;
    }
    
}