 .panel {
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;}
  
  a {
      text-decoration: none !important;}
  
  
    /*****************  No JS ***************/
  #billboard {text-align: center;}
  .js-warning {display: none;}
  
  .no-js .js-warning {
    display: block;
    border: 3px solid #fff;
    text-align: center;
    background-color: #fff;
/*    color: #db5391;*/
    padding: 10px;}
  
  
  /**********  TABS **********/


  .tab-list {
    margin-top:0;
    margin-bottom: 30px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
   
     }


    

  
  .tab-list li {
    display: inline-block;
    list-style-type: none;
    background-color: #FDBC2D;
    font-size: 16px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding: 20px 20px;
    margin-right: -5px;
   

}
  
  .tab-list li a {
    color: #f2f2f2;
    display: block;
}
  
  
  /********** HOVER STATES **********/
  .tab-list li.active, .tab-list li.hover {
    background-color: #FDBC2D;

} 
  
  .tab-list li.active a, .tab-list li a:hover {
    color: #666;

}
  
  
  /********** PANELS **********/
  .tab-panel {
    display: none;
 
    color: #666;
    min-height: 150px;
    overflow: auto;}
  
  .tab-panel.active {
    display: block;}
  
  .tab-panel p {
    margin: 20px;}








/* Big Tablets to 1200px;*/
@media only screen and (max-width:1200px)
{
    .hero-text-box {
    position: absolute;
    width: 100%;
    padding: 0 2%;
   
}
    .row{
        padding: 0 2%;
    }

    .logo{
        height: 25px;
        width:auto;
        float: left; 
        margin-left: 5%;
        margin-top: 20px;
    }
    

    
    
}




/* small tablet to big tablet from 767px - 1023px*/
@media only screen and (max-width:1023px)
{
    body{ font-size: 18px;}
    section{padding:60px 0; }
    .long-copy{
    width:80%;
    margin-left: 15%;
}
    .steps-box{margin-top: 10px;}
  
  .app-screen{width: 70%;}
   

    .span{
        position: relative;
        left:310px;
        top:-50px;
        background-color:#FDBC2D;
        color: #000000;
        font-size: 120%;
        font-weight: 800;
        width:75px;
        height:75px;
        text-align: center;
        padding:15px;
    }
}


/* small phones to small tablet from 481 - 767px*/

@media only screen and (max-width:767px)
{
    
    body{font-size: 16px;}
    section{padding: 30px 0;}
    .row, .hero-text-box{ padding: 0 4%;}
    /* .col{width: 100%; margin: 0 0 1% 0} */
    .main-nav{display: none;}
    .mobile-nav-icon{display: inline-block;}
    
    .mobile-nav-icon i{
         color: #ffffff;
    }
    .main-nav{
        float: left;
        margin-top:25px;
        margin-left: 25px;
    }
    .main-nav li{
        display: block;
    }
    .main-nav li a:link
    .main-nav li a:visited{
        display: block;
        border: 0;
        padding: 5px 0;
        font-size: 100%;
    }
    .sticky.main-nav li a:link,
    .sticky.main-nav li a:visited{
    padding: 10px 0;
     
}.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 0;
}
    
    
      .long-copy{width:100%;margin-left: 0;}
     h1{ font-size: 200%;}
  
     .hero-text-box p{
         margin-top: 3%;
     }
  
   

.span{
    position: relative;
    left:190px;
    top:-10px;
    background-color:#FDBC2D;
    color: #000000;
    font-size: 90%;
    font-weight: 600;
    width:50px;
    height:50px;
    text-align: center;
    padding:15px;
}



  
}



/* small phones from 0 - 480px*/

@media only screen and (max-width:480px)
{
    
    .section{
        padding: 25px 0;
    }
    .contact-form{
        width: 100%;
    }
    
}