@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,500i,600,600i,700');

/*--------------------------*/

/* Basic setup*/

/*--------------------------*/

*{

    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background-color: #fff;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    overflow-x: hidden;
}

.clearfix{zoom:1}
.clearfix:after{
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/* Header */


.header{
    background-image: url("https://res.cloudinary.com/dhtqkszzc/image/upload/v1537011695/backgound-img_arlb5y.png");
    background-size: cover;
    background-position: center;
    height:100vh;
   
}
.head,.section-one-main{
     margin-left: 5%;
}



.logo{
    height: 25px;
    margin-top: 30px;
    margin-left: 10px;
}

.hero-logo{
    height:50%;
    width:50%;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top:22%;
    padding-left:25px
}



.hero-text-box hr{

    border-top: 3px solid #00BFB1;
    width: 65%;
    height:5px;
    margin:50px 0;
    
}


.hero-text-one{
    width: 25%;
     float:left;
    
}

.hero-text-two{
     width: 25%;
     float:left;
    height:auto;
    
}
.hero-text-three{
     width: 25%;
     float:left;
    
}

/*--------------------------*/

/* Reusable Component */

/*--------------------------*/

.row{
    max-width: 1140px;
    margin: 0 auto; 
}
section{
    padding: 80px 0;
}


/*----- Headings-------*/

h2,h3{
   
    font-weight: 300;
    
}






/*----- ICONS-------*/

/*----- Links-------*/
a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
/*    border-bottom: 1px solid #e67e22;*/
    padding-bottom: 1px;
    transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active{
    color: #555;
    padding-bottom: 1px;
    border-bottom: 1px solid transparent;
}

/*----- Buttons-------*/
 .btn:link,
.btn:visited,
input[type=button]{
    display: inline-block;
    padding: 10px 30px;
    background-color: #ffffff;
    font-weight: 300;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s,;
}


.btn-ghost:link, 
.btn-ghost:visited{
    border: 1px solid #00BFB1;
    color: #000000;
    font-weight: 500;
    margin-right: 16px;
    
}
.btn:hover,
.btn:active,
input[type=button]:hover,
input[type=button]:active{
    background-color: #00BFB1;
}


.hero-text-one a,
.hero-text-two a{
    margin-top: 25px;
}








/*--------------------------*/

/* Main-nav */

/*--------------------------*/

.main-nav{
    float: right;
    list-style: none;
    margin-top: 50px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}


/*--------------------------*/

/* sticky nay */
.sticky{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    
}
.sticky.main-nav li a:link,
.sticky.main-nav li a:visited{
    padding: 16px 0;
    color: #555;   
}

.sticky .logo{display: none}
.sticky .logo-black{display:block}
.sticky .main-nav{margin-top: 18px;}


/* mobile nav*/

.mobile-nav-icon{
    float:right;
    cursor: pointer;
    margin-top: 30px;
    display: none;
    
}
.mobile-nav-icon i{
    font-size: 200%;
    color:white;
}



.section-intro{
     background-image: url("https://res.cloudinary.com/dhtqkszzc/image/upload/v1537022595/Background_lnrlpo.svg");
     background-size: cover;
     background-position: center;
    height: 100vh;
   
}
.btn-ghost,
.section-intro .btn-ghost,
.section-contact .btn-ghost
{
    color: black;
    margin-top: 10px;
    background-color: #ffffff;
}



.section-intro p{
     font-size: 90%;
     font-weight: 400;
    line-height: 24px;
}
.section-intro h4,
.section-contact h4

{
    font-size: 180%;
    margin-left: 13%;
    margin-bottom: 0px;
}

.section-intro .first-p,

.section-contact .first-p {
    
/*    text-align: center;*/
    
    
}
.section-contact h5{
    font-size: 180%;
    font-weight: 700;
    margin-bottom: 30px;
    margin-top: 5px;
}
.section-contact p{
    font-size: 70%;
    margin-bottom: 20px;
    
}
.section-contact hr{
    width: 10%;
    border-top: 3px solid #e67e22;
  
}

/*
.company 
{
    text-align: right;
}
*/
.section-students{
    background-color: #ffffff;
    height: 100vh;
}
.section-students hr{
    border-top: 5px solid #0D2623;
    width: 20%;
    margin-bottom: 1%;
}

.section-students h3{
    font-weight: 800;
    font-size: 150%;
    margin-bottom: 10px;
}
.section-students p{
    font-weight: 500;
    font-size: 90%;
    margin-bottom: 30px;
}
.app-screen{
 width: 60%;
   margin-left:  30%;
   margin-top: -80px;
}
.screen{
    width: 60%;
}
.work-steps h5{
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 100%;
}
.work-steps  p{
    margin-bottom: 10px;
     font-size: 90%;
}

.section-intro p,
.section-intro h4,
.section-intro h2
{
   
    color: #ffffff;
   
}
.section-intro h2{
    font-weight: 600;
     margin-bottom: 5px;
    margin-top: 30px;
}


.section-intro h1{
    font-weight: 700;
    margin-bottom: 30px;
}

.section-intro hr{
    
    border-top: 3px solid #ffffff;
    width: 5%;
    margin-left: 13%;
    margin-bottom: 1%;
}
.section-graduate hr
{
    border-top: 5px solid #0D2623;
    width: 20%;
    margin-bottom: 1%;
    margin-top: 30px;
    
}
.section-graduate-2 hr{
    border-top: 5px solid #00BFB1;
    width: 10%;
    margin-bottom: 1%;
    margin-top: 30px;
    
}

.section-graduate-2{
     background-image: url("https://res.cloudinary.com/dhtqkszzc/image/upload/v1537037120/Background_3_oa3mvp.png");
     background-size: cover;
     background-position: center;
      color: #FFFFFF;
     height: 100vh;
    
}

.section-graduate-2 .btn-ghost{
    margin-top: 30px;
}


.section-graduate h3,
.section-graduate-2 h3,
 .section-university h3,
.section-university-2 h3{
    font-weight: 800;
    font-size: 200%;
    margin-top: 10px;
}
.section-university {
 background-image: url("https://res.cloudinary.com/dhtqkszzc/image/upload/v1537035434/Background_2_zif9rd.png");
     background-size: cover;
     background-position: center;
    color: #FFFFFF;
    height: 100vh;

}
.section-university h3,
.section-university-2 h3{
    margin-left: 10%;
}
.section-graduate{
    background-image: url("https://res.cloudinary.com/dhtqkszzc/image/upload/v1537038084/Banner_geny_1_x5ktlh.png");
     background-size: cover;
     background-position: center;
    height: 100vh;
    
}







.graph-6{
    float: left;
}
/*
.section-step{
     background-color: #ffffff;
}
.section-step .btn-ghost{
     color: black;
    margin-top: 30px;   
}
*/
/*

.section-step a{
    text-align: center;
}
*/
.section-graduate p,
.section-graduate-2 p{
    font-weight: 500;
    font-size: 90%;
    line-height: 22px;
    margin-top: 30px;
}
/*
.comp-btn{
    text-align: center;
}
*/

.contact-form{

  width:37%;
    box-shadow: rgba(0,0,0,0.25) 0px 4px 4px 0px,rgba(0,0,0,0.25) 0px 4px 4px 0px;
}

form {

	padding: 1em 0.5em 0.5em 0.5em;
	background: #ffffff;
	border: 0px solid #ebebeb;
	
}
.btn-form{
    margin-bottom: 30px;
}

.btn-center{
    text-align: center;
    margin-top: 20px;
}

.group { 
	position: relative; 
	margin-bottom: 45px; 
}

input {
	font-size: 18px;
	padding: 5px 5px 5px 5px;
	-webkit-appearance: none;
	display: block;
	background: #ffffff;
	color: #636363;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

input:focus { outline: none; }


/* Label */

label {
	color: #999; 
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

input:focus ~ label, input.used ~ label {
	top: -20px;
  transform: scale(.75); left: -2px;
	color: #4a89dc;
}





input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%; 
	width: 100px; 
	top: 25%; 
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}




.panel {
    background-color: #fff;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
    overflow: auto;}
  
  a {
      text-decoration: none !important;}
  
  
    /*****************  No JS ***************/
  #billboard {text-align: center;}
  .js-warning {display: none;}
  
  .no-js .js-warning {
    display: block;
    border: 3px solid #fff;
    text-align: center;
    background-color: #fff;
/*    color: #db5391;*/
    padding: 10px;}
  
  
  /**********  TABS **********/


  .tab-list {
    margin-top:0;
    margin-bottom: 30px;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
   
     }


    

  
  .tab-list li {
    display: inline-block;
    list-style-type: none;
    background-color: #FDBC2D;
    font-size: 16px;
    letter-spacing: 0.16em;
    text-transform: uppercase;
    padding: 20px 20px;
    margin-right: -5px;
   

}
  
  .tab-list li a {
    color: #f2f2f2;
    display: block;
    text-decoration: none !important;
}
  
  
  /********** HOVER STATES **********/
  .tab-list li.active, .tab-list li.hover {
    background-color: #FF9600;

} 
  
  .tab-list li.active a, .tab-list li a:hover {
    color: #666;

}
  
  
  /********** PANELS **********/
  .tab-panel {
    display: none;
 
    color: #666;
    min-height: 150px;
    overflow: auto;}
  
  .tab-panel.active {
    display: block;}
  
  .tab-panel p {
    margin: 20px;}










/*--------------------------*/

/* Footer */

/*--------------------------*/

footer{
    background-color: #333;
    padding: 20px;
    font-size: 80%;
}
.footer-nav{
    list-style: none;
    float: left;
}

.social-nav, 
{
   list-style: none; 
    
}
.footer-nav li,
.social-nav li {
    display: inline-block;
    margin-right: 10px;
    
}
.footer-nav li:last-child,
.social-nav l:last-child{
    margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-nav li a:link,
.social-nav li a:visited

{
    text-decoration: none;
    border: 0;
    color: #888;
  transition: color 0.2s;
}
.footer-nav li a:hover,
.footer-nav li a:active{
    color: #ddd;
}

#socio-nav li,
#socio-nav-two li{
    display: block;
    margin-top: 20px;
   
   
}

footer p{
    color: #888;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

footer h5{
    color:#ffffff;
}

footer .btn-dwld{
    margin-top: 15px;
}


/*--------------------------*/

/* Animation */

/*--------------------------*/

.js-wp-1,
.js-wp-2,
.js-wp-3{
    opacity: 0;
    animation-duration: 1s;
}
.js-wp-4{
    animation-duration: 1s;
}

.js-wp-1 .animated,
.js-wp-2 .animated,
.js-wp-3 .animated{
   opacity: 1; 
}